/* CUSTOM PROPERTIES */
:root {
  --color-primary: rgb(26, 118, 242);
  --color-success: rgb(1, 165, 1);

  --color-footer-text: rgb(144, 148, 156);
  --color-footer-text-darker: rgb(128, 128, 128);
  --color-footer-link: rgb(86, 106, 159);

  --color-header-text: #fff;
  --color-header-background: rgb(59, 89, 152);

  --color-search-input-background: rgb(233, 235, 238);
  --color-search-input-placeholder: var(--color-footer-text);
  --color-search-icon: rgb(71, 76, 82);

  --border-radius-primary: 0.25rem;
  --border-radius-button: var(--border-radius-primary);
  --border-radius-input: var(--border-radius-primary);
}

/* IMPORT CUSTOM FONTS */
@font-face {
  font-family: 'Klavika';
  src: local('Klavika'), url('./fonts/Klavika.otf') format('opentype');
}

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a,
a:link,
a:visited,
a:hover,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
