.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchResults .title {
  width: 100%;
  background-color: var(--color-search-results-title-background);
  padding: 0.5rem 1rem;
  border-top: 1px solid rgb(236, 237, 238);
  border-bottom: 1px solid rgb(236, 237, 238);
}

.searchResults .title h3 {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-search-results-title-text);
}

.searchResults .results {
  width: 100%;
}

.searchResults .results li {
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid rgb(236, 237, 238);
}

/* LINK (image and text) */
.searchResults .results li img {
  width: 3rem;
  height: 3rem;
}

/* THIS WILL AFFECT ../components/GetFriendLinkById.tsx */
.searchResults .link {
  display: flex;
  align-items: center;
}

.searchResults .link .usernameText {
  margin-left: 1rem;
  color: var(--color-search-results-text);
}
