.footer {
  color: var(--color-footer-text);

  font-size: 0.775rem;
  word-spacing: -0.1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.footer ul {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  padding: 0 3rem;
}

.footer li {
  display: flex;
  flex-direction: column;
}

.footer h4 {
  font-weight: 800;
  margin-bottom: 0.25rem;
}

.footer a {
  color: var(--color-footer-link);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.footer p {
  color: var(--color-footer-text-darker);
  font-weight: 500;
}
