.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.friends h2 {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.friends .friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

/* THIS WILL AFFECT ./GetFriendLinkById.tsx */
.friends .link {
  display: flex;
  align-items: center;
}

.friends .link .usernameText {
  color: var(--black);
  font-size: 1.15rem;
  font-weight: 700;
  margin-left: 1rem;
}
